$backgroundColor: #282c34;

#root {
  height: 100%;
}

.App {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  border: 1px solid black;
}

.main {
  flex: 1 0 auto;
}