$backgroundColor: #282c34;

#root {
  height: 100%;
}

.App {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  min-height: 100%;
  border: 1px solid black;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}